@font-face {
  font-family: 'open sans';
  src: url("/fonts/open-sans-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'open sans';
  src: url("/fonts/open-sans-300.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'open sans';
  src: url("/fonts/open-sans-700.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal
}

:root {
  --primary: rgba(60, 60, 67);
  --primary-hover: rgba(60, 60, 67, 0.11);
  --bg: #fff;
  --divider: #e2e2e3;
}

.dark {
  --primary: rgba(255, 255, 245, 0.86);
  --primary-hover: rgba(255, 255, 245, 0.5);
  --bg: #1b1b1f;
  --divider: #2e2e32;
}

body {
  font: 16px / 1.5 "open sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-size: 400px 400px, 10px 10px;
  color: var(--primary);
  background-color: var(--bg);
  transition: all .25s ease;
}

@media (max-width: 736px) {
  body {
    padding:0;
    background-size: 12.5em 12.5em,.625em .625em
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* =================================  */

.fork {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

@media (max-width: 736px) {
  .fork img {
    width: 50px;
  }
}

a {
  color: #5086a1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 100px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  margin-top: 30px;
  padding-bottom: 12px;
  border-bottom: solid 1px var(--divider);
  transition: border .25s ease;
}

@media (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

.description {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.description a {
  color: #5086a1;
}

.theme {
  font-size: 20px;
  margin-right: 20px;
  height: 22px;
}

.theme svg,
.light .theme .auto,
.dark .theme .auto {
  display: none;
  cursor: pointer;
}

.theme .auto,
.light .theme .sun,
.dark .theme .moon {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

pre {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 24px;
  background-color: rgba(142, 150, 170, .14);
  border-radius: 4px;
  overflow-x: auto;
}

:not(pre) code {
  background-color: rgba(142, 150, 170, .14);
  padding: 4px 8px;
  border-radius: 3px;
}

#output {
  margin: 40px auto;
  display: none;
}

iframe {
  display: block;
  width: 100%;
  border: none;
}

select {
  background-color: var(--bg);
  color: var(--primary);
  border: 1px solid var(--divider);
  border-radius: 4px;
  padding: 4px 8px;
  transition: all .25s ease;
}

.choices__inner,
.choices__list--dropdown,
.choices__list[aria-expanded],
.choices[data-type*=select-one] .choices__input {
  background-color: var(--bg);
  border: solid 1px var(--divider);
}

.choices[data-type*=select-one] .choices__input {
  color: var(--primary);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--primary-hover);
}
