---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Page Not Found" source="">
  <main class="container">
    <h1>CanIUse Embed - Feature Not Found</h1>
  </main>
</Layout>

<style is:global>
*, *:before, *:after {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  background-color: #f2e8d5;
  position: relative;
  border: 3px solid #C75000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px 10px 0;
}
</style>
