---
import 'normalize.css'
import 'choices.js/public/assets/styles/choices.min.css'
import '../styles/home.css'

import Layout from '../layouts/Layout.astro'
---

<Layout lang="en-US">
  <a href="https://github.com/pengzhanbo/caniuse-embed" target="_blank" class="fork">
    <img src="/fork.svg" alt="CanIUse Embed Logo" />
  </a>
  <main class="container">
    <h1>The CanIUse Embed</h1>

    <p class="description">
      Embed up-to-date data from <a href="https://caniuse.com/" target="_blank">caniuse.com</a> and <a href="https://github.com/mdn/browser-compat-data" target="_blank">mozilla's browser compat data</a>. Displays feature support data for multiple versions of the 10 major browsers. Configurable, reliable, and fully responsive.
    </p>

    <p>
      Made with <a href="https://astro.build/" target="_blank">Astro</a> by <a href="https://github.com/pengzhanbo" target="_blank">@pengzhanbo</a> .
    </p>
    <p>Deloy with <a href="https://vercel.com/" target="_blank">Vercel</a>.</p>

    <div class="lang-wrapper">
      <select class="lang-select">
        <option value="" selected>English</option>
        <option value="zh-CN">简体中文</option>
      </select>
    </div>

    <h2>Examples</h2>

    <p>
      By default, the interactive embed will display the feature support for the current version, 1 version in the future, and 2 versions back.
    </p>

    <p class="ciu-embed" data-feature="css-grid"></p>

    <p class="ciu-embed" data-feature="mdn-css_properties_z-index"></p>

    <h2>Create your Embed</h2>

    <h3>Select Feature</h3>

    <p>What feature are you trying to display?</p>

    <select id="featuresSelect"></select>

    <h3>Additional Settings</h3>

    <p>Select the past versions you want to display</p>

    <select id="pastSelect"></select>

    <p>Select the future versions you want to display</p>

    <select id="futureSelect"></select>

    <div class="embed-config" style="display:none">
      <h3>Include Script</h3>

      <p>Include the following javascript file in your document.</p>

      <pre><code>&lt;script type="module" src="https://caniuse-embed.vercel.app/embed.js"&gt;&lt;/script&gt;</code></pre>

      <h3>Get the Embed Code</h3>

      <p>Paste this snippet where you want the embed to be displayed:</p>

      <pre id="embedCode"></pre>

    </div>

    <div id="output">
      <h3>Embed Preview</h3>

      <p class="ciu-embed">
        <iframe width="100%" height="330px"></iframe>
      </p>
    </div>

  </main>
</Layout>

<script src="../scripts/home.ts"></script>
<script src="../scripts/embed.ts"></script>
