---
import HomeTemplate from '../components/HomeTemplate.astro'
import { getFeaturesList } from '../services/get-feature-list'
import { formatDate } from '../utils/format-date'

export const prerender = true

const { bcdUpdated, ciuUpdated } = await getFeaturesList()
const [bcdUpdatedDate] = formatDate(bcdUpdated)
const [ciuUpdatedDate] = formatDate(ciuUpdated)

const locale = {
  description: `Embed up-to-date data from <a href="https://caniuse.com/" target="_blank">caniuse.com</a>, <a href="https://github.com/mdn/browser-compat-data" target="_blank">mozilla's browser compat data</a> and <a href="https://github.com/web-platform-dx/web-features" target="_blank">web-platform-dx/web-features</a>. Displays feature support data for multiple versions of the 10 major browsers. Configurable, reliable, and fully responsive.`,
  madeWith: `Made with <a href="https://astro.build/" target="_blank">Astro</a> by <a href="https://github.com/pengzhanbo" target="_blank">@pengzhanbo</a> .`,
  deployWith: `Deloy with <a href="https://vercel.com/" target="_blank">Vercel</a>.`,
  canIUseUpdated: 'Can I Use Data updated:',
  bcdUpdated: 'Browser Compat Data updated:',
  examples: 'Examples',
  featureSupportTitle: 'Feature support in various browser versions',
  featureSupportDesc: 'By default, the interactive embed will display the feature support for the current version, 1 version in the future, and 2 versions back.',
  baselineTitle: 'Embedded feature supports baseline',
  baselineDesc: 'The baseline of support for this feature in current mainstream browsers.',
  createEmbed: 'Create your Embed',
  selectType: 'Select Type',
  featureSupportType: 'Feature support in various browser versions',
  baselineType: 'Embedded feature supports baseline',
  selectFeature: 'Select Feature',
  selectFeatureDesc: 'What feature are you trying to display?',
  additionalSettings: 'Additional Settings',
  pastVersions: 'Select the past versions you want to display',
  futureVersions: 'Select the future versions you want to display',
  includeScript: 'Include Script',
  includeScriptDesc: 'Include the following javascript file in your document.',
  getEmbedCode: 'Get the Embed Code',
  getEmbedCodeDesc: 'Paste this snippet where you want the embed to be displayed:',
  parameters: 'Parameters',
  featureName: 'Feature name',
  pastDesc: 'Show 2 versions back, range is 0 - 5',
  futureDesc: 'Show 1 version in the future, range is 0 - 3',
  themeDesc: 'Change the theme to light / dark / auto.',
  originDesc: '[Optional] Data source origin, e.g.:',
  originExample: 'https://caniuse-embed.vercel.app',
  embedPreview: 'Embed Preview',
}
---

<HomeTemplate lang="en-US" {locale} {bcdUpdatedDate} {ciuUpdatedDate} />
