---
import HomeTemplate from '../components/HomeTemplate.astro'
import { getFeaturesList } from '../services/get-feature-list'
import { formatDate } from '../utils/format-date'

export const prerender = true

const { bcdUpdated, ciuUpdated } = await getFeaturesList()
const [bcdUpdatedDate] = formatDate(bcdUpdated)
const [ciuUpdatedDate] = formatDate(ciuUpdated)

const locale = {
  description: `从 <a href="https://caniuse.com/" target="_blank">caniuse.com</a>，<a href="https://github.com/mdn/browser-compat-data" target="_blank">mozilla's browser compat data</a> 和 <a href="https://github.com/web-platform-dx/web-features" target="_blank">web-platform-dx/web-features</a> 嵌入最新数据。<br /> 显示10个主要浏览器多个版本的功能支持数据。<br /> 可配置、可靠且完全响应。`,
  madeWith: `由 <a href="https://astro.build/" target="_blank">Astro</a> 构建 | 部署在 <a href="https://vercel.com/" target="_blank">Vercel</a>`,
  deployWith: `<a href="https://github.com/pengzhanbo" target="_blank">@pengzhanbo</a> 开发`,
  canIUseUpdated: 'Can I Use 更新于:',
  bcdUpdated: 'Browser Compat Data 更新于:',
  examples: '示例',
  featureSupportTitle: '嵌入浏览器各版本的功能支持',
  featureSupportDesc: '默认情况下，嵌入将显示当前版本、未来1个版本以及过去2个版本 的功能支持。',
  baselineTitle: '嵌入功能支持基线',
  baselineDesc: '该功能在当前主流浏览器中的支持程度。',
  createEmbed: '生成嵌入代码',
  selectType: '选择嵌入类型',
  featureSupportType: '浏览器各版本的功能支持',
  baselineType: '功能支持基线',
  selectFeature: '选择特性',
  selectFeatureDesc: '你想展示什么特性？',
  additionalSettings: '附加设置',
  pastVersions: '选择您想要显示的旧版本',
  futureVersions: '选择您想要显示的未来版本',
  includeScript: '嵌入脚本',
  includeScriptDesc: '在您的文档中嵌入以下 JavaScript 文件。',
  getEmbedCode: '获取嵌入代码',
  getEmbedCodeDesc: '将此片段粘贴到您希望嵌入显示的位置：',
  parameters: '参数说明',
  featureName: '特性名称',
  pastDesc: '显示过去 2 个版本, 范围为 0 - 5',
  futureDesc: '显示未来 1 个版本, 范围为 0 - 3',
  themeDesc: '使用深色主题，支持 light / dark / auto。',
  originDesc: '[可选] 数据源，例如：',
  originExample: 'https://caniuse.pengzhanbo.cn',
  embedPreview: '嵌入预览',
}
---

<HomeTemplate lang="zh-CN" {locale} {bcdUpdatedDate} {ciuUpdatedDate} />
