---
import type { Feature } from '../types'
import { markdownRender } from '../services/markdown'
import IconExternalLink from './IconExternalLink.astro'

interface Props {
  data: Feature
}

const data = Astro.props.data


const description = data.description ? markdownRender(data.description) : ''
---

<header class="header">
  <h1 class="title">
    <a href={data.url} target="_blank">
      <span class="title">{data.title}</span>
      <IconExternalLink />
    </a>
  </h1>
  <div class="description" set:html={description}></div>
</header>
