---
interface Props {
  source: string
}

const { source } = Astro.props
---

<footer class="footer">
  Data from
  {source === 'caniuse' && (<a href="https://caniuse.com" target="_blank">caniuse.com</a>)}
  {source === 'mdn' && (<a href="https://github.com/mdn/browser-compat-data" target="_blank">MDN</a>)}
  | Embed from
  <a href="https://caniuse-embed.vercel.app/" target="_blank">caniuse-embed.vercel.app</a>
</footer>
