---
import type { FeatureData } from '../types'
import { markdownRender } from '../utils/markdown'
import IconExternalLink from './icons/ExternalLink.astro'

interface Props {
  data: FeatureData
}

const data = Astro.props.data

const title = markdownRender(data.title, true)
const description = data.description ? markdownRender(data.description) : ''
---

<header class="header">
  <h1 class="title">
    <a href={data.url || 'javascript:;'} target="_blank">
      <span class="title">
        <Fragment set:html={title} />
      </span>
      {data.url && <IconExternalLink />}
    </a>
  </h1>
  <div class="description" set:html={description}></div>
</header>
