---
import type { FeatureData, FeatureStatus } from '../types'
import { getBaselineStatus } from '../services/get-baseline-status'

interface Props {
  status: FeatureStatus | undefined
  data: FeatureData
}

const { type, title, label, description } = getBaselineStatus(
  Astro.props.status,
  Astro.props.data,
)
---

<div class:list={['baseline', type]}>
  <span class:list={['logo', type]}></span>
  <section>
    <p class="title">
      {title && <strong>{title}</strong>}
      {label && <span class="label">{label}</span>}
    </p>
    <p class="desc">{description}</p>
  </section>
</div>
