---
import type { FeatureData } from '../types'
import { Image } from 'astro:assets'
import FlagImg from '../assets/flag.png'
import { formatUsage } from '../utils/format-usage'

interface Props {
  data: FeatureData
}

const data = Astro.props.data
---

{(data.usage) && (
  <small class="note">
    Globals:
    {data.usage.supported && <span class="y">{formatUsage(data.usage.supported)}</span>}
    {data.usage.supported && data.usage.partial && ' + '}
    {data.usage.partial && <span class="a">{formatUsage(data.usage.partial)}</span>}
    {data.usage.total && ` = ${formatUsage(data.usage.total)}`}
  </small>
)}
{data.experimental && (<small class="note"><strong>Experimental</strong> feature</small>)}
{data.deprecated && (<small class="note"><strong>Deprecated</strong> feature</small>)}

<div class="legend">
  <div class="y" aria-label="Supported" title="Support">&#x2713;</div>
  <div class="n" aria-lablel="Not Supported" title="Not Support">&#x2717;</div>
  {data.unknown && (<div class="u" aria-lablel="Unknown Support" title="Unknown Support">?</div>)}
  <div class="a">Partial support</div>
  {data.prefixed && <div class="x">Prefixed</div>}
  {data.flag && (
    <div class="d" id="legendD">
      <Image src={FlagImg} alt="Behind a browser flags" />
      Behind a Flag
    </div>
  )}
</div>
