---
interface Props {
  title?: string
  source?: string
  lang?: string
}

const { title, source, lang = 'en-US' } = Astro.props;
---

<!doctype html>
<html lang={lang} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Can I Use Embed" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" href="/favicon-128.png" sizes="16x16 32x32 64x64 128x128" type="image/png" />
    <link rel="apple-touch-icon" href="/favicon-128.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,600"
      rel="stylesheet"
    />
    <meta name="Description" content="&quot;Can I use&quot; provides up-to-date browser support tables for support of front-end web technologies on desktop and mobile web browsers." />
    <meta name="keywords" content="web browser compatibility support html css svg html5 css3 opera chrome firefox safari internet explorer" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ` : ''} Can I use... Support tables for HTML5, CSS3, etc</title>
  </head>
  <body class={source}>
    <slot />
  </body>
</html>
