name: Deploy

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  
jobs:
  hooks:
    runs-on: ubuntu-latest

    steps:
      - name: curl
        run: |
          echo "Automatic deployment every Sunday."
          curl -X POST ${{ secrets.VERCEL_WEB_HOOK }}
          echo "Done."
